# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.envrc

# IDE and editor files
.vscode/
*.code-workspace

# Distribution files
dist/
build/
*.egg-info/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
